.carousel_element.container{class: tag_snaked, id: item.name.downcase.gsub(' ', '_'), onclick: "showCollapsible('carousel_parallax_#{item.name.downcase.gsub(' ', '_')}')"}
  #carousel_image.button
    = image_tag item.picture, class: 'element_image'
  #carousel_element_text
    %p.element_name
      = item.name
    %p.learnmore
      = 'Click here to learn more...'


  = render 'carousel_collapsible', type: type, item: item, item_path: item_path
